<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input</title>
</head>

<body>
    <div id="chat-page">
        <h3>UserId</h3>
        <div id="chat">
            <form id="Userform">
                <input type="text" id="message" autocomplete="off" placeholder="User Name" />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>