<!DOCTYPE html>
<html>

<head>
    <title>Spring Boot Chat</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div id="chat-page">
        <div id="chat">
            <div id="messageArea"></div>
            <form id="messageForm">
                <input type="text" id="message" autocomplete="off" placeholder="Type a message..." />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>